<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite" parallel="classes" thread-count="2">
	<test name="Selenium_Grid_Demo">
		<classes>			
			<class name="com.grid.demo.GridDemo" />
			<class name="com.grid.demo.GridDemo" />
		</classes>
	</test> <!-- Selenium_Grid_Demo -->
	<listeners>
		<listener class-name="appiumtest.TestReport"></listener>
	</listeners>
</suite> <!-- Suite -->
